.container {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 182px;
    padding: 56px 0;
        p {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
        }
}

.social {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(4, max-content);
        svg {
            transition: 0.2s;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
}